*.[oad]
*.map
*.elf
*.s
!k1/kernel/switch.s
!k1/kernel/regdump.s
!k1/kernel/usyscall.s
!k2/kernel/switch.s
!k2/kernel/regdump.s
!k2/kernel/usyscall.s
!k3/kernel/switch.s
!k3/user/usyscall.s
!k4/kernel/switch.s
!k4/user/usyscall.s
